@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,400;1,600;1,700&family=PT+Serif:ital,wght@1,400;1,700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
}

/* ******************** header ********************** */
header {
    text-decoration: none;
    list-style: none;
    list-style-type: none;
}
header li {
    float: right;
    font-size: 1em;
}
header li a {
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 15px 10px;
    font-weight: bold;
    color: #ffffff;
}

/* ******************** navbar *********************** */
nav {
    overflow: hidden;
    background-color: #020114;
    position: fixed;
    width: 100%;
    opacity: 0.9;
}
#logo {
    float: left;
    font-weight: bold;
    font-size: 1.2em;
    font-family: 'Lora', serif;
}
#logo a {
    color: #2665ee;
    text-shadow: 2px 2px 2px #0400ff;
}
#logo a:hover{
    color: #ffffff;
    transition: 0.1s;
}
#c a:hover {
    color: #fafa00;
}
#i a:hover {
    color: rgb(0, 255, 0);
}
#d a:hover {
    color: red;
}
#n a:hover {
    color: #93a4ee;
}

/*  ********************** images & titre **************************/
#titre {
    padding-top: 60px;
    background: url(pexels-tima-miroshnichenko-5380642.jpg) no-repeat fixed 20% 20%;
    background-size: cover;
    height: 900px;
}
#titre h1 {
    font-family: 'PT Serif', serif;
    text-transform: uppercase;
    color: #0406ff;
    text-align: center;
    font-size: 3.7em;
    margin-top: 100px;
    text-shadow: 2px 4px 2px #b0b6e6;
}
#trait-1 {
    height: 2px;
    width: 50%;
    margin: -3px auto;
    background-color: #4407e8;
    box-shadow: 1px 1px 1px #e4ace9;
}
#titre h3, body h3 {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5em;
    padding: 15px 0px;
    font-weight: bolder;
    text-decoration: none;
}
#C {
    color: #ffff00;
    text-shadow: 2px 2px 2px red;
}
#I {
    color: green;
    text-shadow: 2px 2px 2px #ffff00;
}
#D {
    color: #ff0707;
    text-shadow: 2px 2px 2px green;
}

/* *********************** body ********************** */
body {
    font-family: 'Playfair Display', serif;
    background-color: #b4bbe0;
}
body p, li {
    font-size: 17pt;
    padding: 10px 2% 0px 2%;
}
body a {
    cursor: pointer;
    color: #7683a0;
    text-decoration: none;
    font-size: 17pt;
}
body a:hover {
    color:#0004ff;
}
body #triade a {
    font-size: 1.5em;
}
body #triade a:hover {
    color: #0004ff;
}
body h2 {
    text-align: center;
    font-size: 25pt;
    padding: 10px 0px;
}
body h3 {
    text-align: center;
    font-size: 20pt;
    padding: 10px 0px;
}
body h4 {
    text-align: left;
    font-size: 15pt;
    padding: 10px 0px 0px 6%;
}
body p, body h2, body h3, body h4 {
    margin: 5px 0px 5px 0px;
}
h2, h3, h4 {
    text-transform: uppercase;
    font-weight: bolder;
}

/* ******************* FOOTER ******************** */
footer {
    background-color: #93a4ee;
    color: #000000;
    padding: 20px 0 10px 0;
    text-align: center;
}
form {
    margin: 0 auto;
    max-width: 900px;
}
input, textarea, button {
    width: 55%;
    border: none;
    padding: 15px 10px;
    margin: 2px 0;
    font-size: 1.2em;
    font-family: 'Playfair Display', serif;
    border-radius: 8px;
}
textarea {
    height: 180px;
}
button {
    font-size: 1.5em;
    background-color: #dcdfec;
}
button:hover {
    background-color: #2600ff;
    color: #ffffff;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
#Trait-2 {
    height: 2px;
    width: 75%;
    background-color: #4407e8;
    box-shadow: 1px 1px 1px #ffffff;
    margin: 60px auto;
}
#copyrightEtIcons {
    display: flex;
    margin-bottom: 20px;
    padding: 0 10%;
}
#copyright {
    width: 50%;
    text-align: left;
    color: #000000;
    font-size: 14pt;
}
#icons {
    width: 50%;
    text-align: right;
}
#icons a {
    display: inline-flex;
    padding: 0 20px;
    font-size: 1.5em;
    color: #0004ff;
    float: right;
}
#icons a:hover {
    transform: scale(1.5);
    transition: 0.1s;
    color: #ffffff;
}
